click==6.7
pandas==0.19.2
PyYAML==3.12
pylint==1.6.4
pytest==3.0.5
slackclient==1.0.4

# model building
jupyter==1.0.0
matplotlib==2.0.0
nltk==3.2.2
h5py==2.6.0
scipy==0.18.1
sklearn==0.0
tensorflow==0.12.1
tflearn==0.2.1
